.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
JsonEditorTool/.vs
REG-OPS.json.bak
FILE-OPS.json.bak
CONFIG.json.bak
*.vsidx
*.dll
*.exe
*.pdb
*.cache
/JsonEditorTool/EndpointPilotJsonEditor.App/bin/Debug
