.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
# Ignore json.bak files
REG-OPS.json.bak
FILE-OPS.json.bak
CONFIG.json.bak
DRIVE-OPS.json.bak
# Ignore all .dll and .exe files globally
*.dll
*.exe
*.pdb
*.vsidx
# Folders to ignore
/JsonEditorTool/.vs/
/JsonEditorTool/publish/
/JsonEditorTool/EndpointPilotJsonEditor.App/bin/Debug/
/JsonEditorTool/EndpointPilotJsonEditor.Core/bin/Debug/
/JsonEditorTool/EndpointPilotJsonEditor.App/obj/Debug/
/JsonEditorTool/EndpointPilotJsonEditor.Core/obj/Debug/
/JsonEditorTool/EndpointPilotJsonEditor.App/bin/Release/
/JsonEditorTool/EndpointPilotJsonEditor.Core/bin/Release/
/JsonEditorTool/EndpointPilotJsonEditor.App/obj/Release/
/JsonEditorTool/EndpointPilotJsonEditor.Core/obj/Release/
# Allow .dll and .exe files in JsonEditorTool/Compiled-Win11-x64
!JsonEditorTool/publish/*.dll
!JsonEditorTool/publish/*.exe